@import url('https://fonts.googleapis.com/css?family=Alef');

body {
    direction: rtl;
    font-family: 'Alef', sans-serif;
    margin: 0px;
}

div#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
}

    div.row {
        padding: 10px;
    }

    div#app {
        display: flex;
        flex-direction: row;
        flex: 50% 50%;
    }

        div.column {
            flex: 1 1 50%;
            border: 1px solid black;
            margin: 5px;
        }

div.title {
    text-align: center;
    font-size: 35px;
    padding: 5px 0;
}

div.map {
    height: 800px;
}

div#trip {
    padding: 10px;
}

div.time {
    margin-top: 15px;
}